
.about-container {
    

    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vw;
    margin-bottom: 5vw;
    border: 1px solid #000; 
    border-radius: 10px; 
    padding: 5%; 

    display: flex;
    grid-template-columns: repeat(2, 1fr);

}



.about-cv {
    cursor: pointer;

}

.about-text-container {
    padding-right: 10%;
}

.about-cv {
    font-size: 1.2rem;
}

.about-cv:hover {
    color: gold;
    transform: translateY(-5px);
    transition: transform 0.3s ease-out;
}

.about-container h1{
    font-family: "nimbus-sans-extended", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-bottom: 5%;
    margin-top: 0px;
    animation: fadeIn 0.5s ease-in-out forwards; /* Fade-in animation */
    font-size: clamp(40px, 10vw, 100px);
    line-height: 80%;

}



.about-text-pg {
    padding-bottom: 5%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

.about-container p{
    font-family: "nimbus-sans-extended", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-bottom: 0px;
    margin-top: 0px;
    animation: fadeIn 0.5s ease-in-out forwards; /* Fade-in animation */
    font-size: clamp(40px, 10vw, 12);
    margin-left: 0.5%;

}

.about-container img {
    border-radius: 10px; 
    animation: fadeIn 0.7s ease-in-out forwards;
    width: 30%;

}


@media (max-width: 768px) {

    .about-text-pg {
    padding-bottom: 5%;
}

    .about-text-container {
    padding-right: 0%;
    padding-bottom:15%
}
    .art-page-container {
    margin-top: 18vh;
    display: block;

}
    .about-container {
      display: block;
      position: relative;
      flex-direction: column; /* Stack the grid items vertically */
      justify-content: center;
      align-items: center;
      gap: 20px; /* Add space between items */
    }
  
    .about-container img {
      position: relative;
      width: 100%; /* Ensure the image fits the container width */
      border-radius: 10px;
      box-shadow: 0px 4px 10px  rgba(0, 0, 0, 0.3); 
      

    }

  
  
  }




