.page-wrapper {
    padding: 10%;

}

.cart-wrapper {
    padding: 5%;
    border: 1px solid #000;
    border-radius: 20px;
}

.checkout-info-wrapper {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.image-button-wrapper img{
width: 100%;
margin-bottom: 10%;
    
}

.shipping-policy {
    padding-top: 10%;
    padding-bottom: 10%;

}

.checkout-info-wrapper h2{
    padding-top: 70% ;
}

.image-button-wrapper{
    width: 10%;
    display: block;

}



.remove-controls{
    width: 100%;
    margin-bottom: 10%;
}




.items-wrapper {
    border-bottom:1px solid #000;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
    
}

.checkout-text {
    padding-right: 2%;
}

.checkout-text h3 {
    font-size: 20px;
}

.checkout-text strong {
    font-size: 20px;
}

.price-removeButton {

    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    width: 100%;
    color: #000;
    margin-top: 5%;
    cursor: pointer;
    margin-top: 10%;


}
.price-removeButton:hover{
    background-color: #bfbfbf;

}

.checkout-button {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 1%;
    width: 50%;
    cursor: pointer;

}

.checkout-button:hover {

    background-color: #bfbfbf;


}

.checkout-button:disabled{
    opacity: 50%;
    cursor: not-allowed;
    background-color: #bfbfbf;
    
}

.items-wrapper img {
    border-radius: 10px;
    box-shadow: 0px 4px 10px  rgba(0, 0, 0, 0.3); 

    

}

.quantity-controls button{
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    width: 30%;
    color: #000;
    cursor: pointer;

        
}

.spinner-checkout{
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px

    
}

.checkout-button{
    position: relative;
     width: 40vw;
        height: 40px;
       

        
}

.stripelogo {
    justify-content: center;
}


.stripelogo img {
    width: 120px;
}

.quantity-controls button:hover {
    background-color: #bfbfbf;

}

.quantity-controls span {
    padding-right: 20px;
    padding-left: 15px;
}

.subtotal {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 20px;
    
}


.cart-clearButton{


        background-color: #fff;
        border: 1px solid #000;
        border-radius: 20px;
        width: 10%;
        height: 30px;
        color: #000;
        cursor: pointer;

}

.cart-clearButton:hover {

    background-color: #bfbfbf;



}

.title-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.empty-wrapper {
    padding-bottom: 10%;
}



@media (max-width: 768px) {

    .stripelogo img {
    width: 79px;
}

.empty-text {
    font-size: 22px;
}

.empty-wrapper {
    padding-bottom: 50%;
    padding-top: 30%;
}

.cart-clearButton{


        background-color: #fff;
        border: 1px solid #000;
        border-radius: 20px;
        width: 30%;
        height: 20px;
        color: #000;

}

    .page-wrapper {
        padding: 5%;
    
    }
    .remove-controls{
        padding-bottom: 50%;
        justify-content: center;
        display: block;
    }

    .quantity-controls {
        display: flex;
        margin-bottom: 13px;
        justify-content: center;
       
    
    }
    .quantity-controls button{
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 20px;
        width: 30px;
        color: #000;
        cursor: pointer;
    
            
    }

    
    .quantity-controls span {
        display: flex;   
        justify-content: center;
        align-items: center; 
        width: 15px;
    }

    .items-wrapper {
        border-bottom:1px solid #000;
        padding-bottom: 25%;
        margin-bottom: 10%;
        display: block;
        justify-content: space-between;
    }

    .page-wrapper{
        margin-top: 20%;
    }
    .items-wrapper img {
        border-radius: 10px;
        box-shadow: 0px 4px 10px  rgba(0, 0, 0, 0.3); 
        
    
    }

    .subtotal-wrapper {
        display: inline-flex;
        justify-content: space-between
    }

    .image-button-wrapper img{
        width: 110px;
        margin-bottom: 10px;
        object-fit: cover;

    }

    .image-button-wrapper{
        width: 700px;
    }

    .checkout-info-wrapper {
        width: 320px;

        display: block;
        height: 11rem;
    }

    .price-removeButton{
        display: flex;
        justify-content: space-around;
    }

    .price-removeButton {

        background-color: #fff;
        border: 1px solid #000;
        border-radius: 20px;
        width: 100%;
        color: #000;

    }

   

    .image-button {
        display: inline-block;
        width: 135%;
        
    }

   

    .image-button-wrapper{
        height: 14rem;
     

    }

    .checkout-info-wrapper h2{
        padding-top: 40% ;
    }

    .checkout-info-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .stripelogo{

        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .checkout-button {
        display: inline-flex;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 20px;
        
        width: 100%;
        height: 40px;
        color: #000;
    
    }

    .checkout-text {
        width: 100rem;
        padding-right: 2%;
    }

    .checkout-text h3 {
        font-size: 10px;
    }

    .title-button-wrapper h1 {
        font-size: 25px;
    }

    .checkout-text strong {
        font-size: 15px;
    }

    


}