.footer-wrapper {
    background-color: rgb(43, 43, 43);
    color: #fff; /* Light text color */
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: auto;
    padding-bottom: 10%;
   

    margin-top: auto;
    white-space: nowrap;
}

.copyright {
  
  text-wrap: wrap;
  color: #999999
}


  .footer-wrapper p {
    display: flex;
    font-family: "input-sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding-left: 10%;
    padding-right: 10%;
    bottom: 0;
    margin-top: 3vw;
    justify-content: center;
  }

  .social-wrapper{
    width: 3%;
    height: 0;
    margin-left: 46vw;
  }
  
  .social-wrapper img{
    margin-right: 50%;

  }

  .info-wrapper{
    margin-top: 2%
  }


.scrolling-text {
    display: inline-block;
    animation: scroll-text 20s linear infinite;
    font-family: "input-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h2 {
    font-family: "input-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@keyframes scroll-text {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(-100%); 
    }
  }

@media (max-width: 768px) {
  
  .footer-wrapper {
    background-color: rgb(43, 43, 43);
    color: #fff; /* Light text color */
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;

    margin-top: auto;
    white-space: nowrap;

  }


  .footer-wrapper p {
    font-family: "input-sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    bottom: 0;
    justify-content: center;
  }

  .social-wrapper{
    width: 15%;
    height: 20%;
    margin-top: 0;
    margin-left:28vw;
  }
  
  .social-wrapper img{
    margin-right: 50%;
    display: inline;
    margin-bottom: 30%;
  }

  .info-wrapper{
    margin-top: 5vh;
    

  }
  .copyright {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vw;
    
  }


  .scrolling-text {
    display: inline-block;
    animation: scroll-text 20s linear infinite;
    font-family: "input-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

  }


