
.logo img{
  margin-left: 5vw;
  width: 80px;
  

}

.logo {
  display: flex;
}

.cart img{
  display: none;
}

.cart-desktop img {
  width: 30px;
  margin-right: 120%;
  padding-top: 30px; 
  padding-left: 140px;
}





.expanded-ta {
  justify-content: center;
  align-items: center;
  height: 10px;
  font-size: 13px;
  text-decoration: none;
  right: 510px;
  bottom: 33px;

  animation: fadeIn 1s;

  position: absolute;

  display: inline-flex;



}

.expanded-ta a {
  color:#000
}

.nav-links {
  transition: transform 0.4s ease;
  position: relative;
}

.nav-links.open li {
    transition: transform 0.4s ease;


}

.expanded-gd a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  cursor: pointer;
  white-space: nowrap;
  animation: fadeIn 1s;




}

.expanded-gd.expanded {

  display: inline-flex;
  justify-content: baseline;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3.2%;
  





}

.traditionalart.open {
  transition: transform 0.2s ease;


  transform: translateX(-170px);

}

.traditionalart{
  transform: translateX(0px);

  transition: transform 0.2s ease;

}




nav {
  white-space: nowrap;

  background-color: #ffffff;
  padding-top: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  z-index: auto;


 
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: right;
  font-family: "input-sans", sans-serif;
  font-weight: 100;
  font-style: normal;

}

nav ul li {
  padding-top: 5%;
  margin-right: 15px;
  
}

nav ul li a {
  text-decoration: none;
  color: black;
  

}

nav ul li a:hover {
  color: #a6ff00;
}

nav ul li:hover {
  color: #a6ff00;

}

.hamburger {
  display: none; /* Hidden by default on desktop */
  
}

.navWrapper {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  z-index: 10000;
  transition: transform 0.3s linear ease-in-out;
  
  

}

.navWrapper.hidden {
top: -190px;
transition: 0.3s linear ease-in-out;
position: fixed;
left: 0;
right: 0;
background-color: rgb(0, 0, 0);
  
z-index: 10000;

}









@keyframes fadeIn {
  0% {
      opacity: 0;
      }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (max-width: 768px) {

  .cart-desktop img {
    display: none;
  }

  
  

  .navWrapper nav{

      top: 0;
      left: 0;
      right: 0;
      background-color: white;
      width: 100%;
      
      z-index: 10000;
      transition: 0.3s linear ease-in-out;
        padding-bottom: 2%;

      

  }

  .cart img{
    display: block;
    width: 30px;
  }

  .cart{
    padding-left: 50%;
    padding-top: 8%;
    width: 40px;
  }

  .navWrapper {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  z-index: 10000;
  transition: 0.3s linear;
  
  

}

  .navWrapper.hidden {

    top: -90px;
    transition: 0.3s linear;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    
      
    z-index: 10000;

  }

  .expanded-gd li{
    background-color: #000;
    transition: transform 1.3s ease-out;





    
  }


  

  .expanded-gd.expanded::after {

    content: " ";

  
  }
  
  .expanded-gd.expanded::before {
  
    content: " ";
  
    
  
  
  }

  
.expanded-gd {
  display: none;
  transition: transform 1.3s ease-out;



}

.expanded-gd {
  display: inline-flex;
}
  

  .expanded-gd a {
    text-decoration: none;
    color: rgb(255, 255, 255);



    
  
  }

  

  .expanded-gd.expanded {

    z-index: -10;
    display: block;
    padding: 0%;
    margin: 0%;

    transition: transform 0.8s ease-out;

  }

  .expanded-ta {
    justify-content: center;
    align-items: center;
    height: 10px;
    font-size: 13px;
    text-decoration: none;
    right: 510px;
    bottom: 33px;
  
    animation: fadeIn 1s;
  
    position: absolute;
  
  
  
  
  }

  
  nav {
    background-color: #ffffff;
    padding-top: 5%;
    padding-right: 0%;
    padding-top: 3vw;
    justify-content: space-between;
    display: flex;

    
   
  }
  .nav-links {
    position: fixed;
    top: 10.9vh;
    right: 0;
    height: auto;
    width: 200px;
    flex-direction: column;
    align-items: right;
    z-index: 10000000;
    

    border: 1px solid #000; 


    background: rgba(255, 255, 255, 1); /* Transparent background */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); /* Optional shadow for a better effect */
    border-top-left-radius: 10px; /* Rounded corners */
    border-bottom-left-radius: 10px; /* Rounded corners */


    transform: translateX(100%); /* Initially hidden off-screen */
    

    /* Hide the menu by default */
  }

  .nav-links.open {



    animation: fadeIn 0.5s ease-in-out forwards; 
    transition: transform 1.3s ease-out;
    
    

  }



  

 

  .nav-links li {
    z-index: 10000;

    padding-left: 5%;
    padding-bottom: 10%;
    



    
    width: 100%;
  }

  .nav-links li{
    border-bottom: 1px solid #000;

  }


  .nav-links li:nth-last-child(1){
    border-bottom: none

  }

  .nav-links li:nth-last-child(3){
    border-bottom: 1px solid #ffffff;

  }

  .nav-links li:nth-last-child(2){
    border-bottom: 1px solid #ffffff;

  }

  .nav-links li:nth-last-child(4){
    border-bottom: 1px solid #000000;

  }

  .nav-links li:nth-child(3){
    border-bottom: 1px solid #000000;

  }

  .nav-links li:nth-child(5){
    border-bottom: 1px solid #000000;


    
  }

  .nav-links li:nth-child(6){
    border-bottom: none;


    
  }

  .nav-links.nav-links.open li:nth-child(6){
    border-bottom: none


  }

  .nav-links.nav-links.open li:nth-child(7){
    border-bottom: none


  }

 

  .hamburger-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: relative;
    margin-right: 5vw;
    margin-top: 3.5vw;

  }

  .hamburger {
    display: inline-block;
    position: relative;

    cursor: pointer;

    
     /* Show hamburger on mobile */

  }


 .hamburger span {
  transition: 0.3s ease;
  transform: translate(-50%, -50%);

 }


  .ham{
    background-color: #000;
    border-radius:20px;
    width: 30px;
    height: 4px;
    position: absolute;
    top: 10px;



  }

  
  .ham2{
    display: flex;
    background-color: #000;
    border-radius:20px;
    width: 30px;
    height: 4px;
    position: absolute;







  }

  .ham3{
    background-color: #000;
    border-radius:20px;
    width: 15px;
    height: 4px;
    top: 20px;
    right: -22px;
    position: absolute;






  }

  .ham.active {


    transform: translate(-50%, -50%)rotate(40deg);


    
  }

  .ham3.active {

    transform: translate(-50%, -155%)rotate(40deg);
    transition: 0.2s ease;


    
  }

  .ham2.active {
    margin-left: 10.5%;


    transform: translate(-50%, 200%) rotate(-40deg);

    
  }

  .close{
    background-color: #000;
    border-radius:20px;
    width: 10%;
    height: 40%;
    position: absolute;
    rotate: 40deg;

  }

  .close2{
    background-color: #000;
    border-radius:20px;
    width: 10%;
    height: 40%;
    position: absolute;
    rotate: -40deg;

  }

  

  .closeMenu{
    width: 10%;
    height: 10%;
    margin-left:20%
  }

  

  .nav-links li ::after{
    content: " > ";

  }

  nav ul {
    font-family: "input-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  
  }
  

  .logolink{
    
    width: 60px;
  }
  

 

  .hamburgerButton {

    width: 15%;

  }

  .closeButton{
    width: 10%;  
  }

  .logo {
    justify-content: center;
    display: flex;
  }

  .logo img{
    width: 50px;
    margin-top: 9vw;
  
  }
}