.image-container img {

    width: 50vw;
    border-radius: 10px;
    box-shadow: 0px 4px 10px  rgba(0, 0, 0, 0.3); 

    
}

h3{
    font-family: "nimbus-sans-extended", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 1rem;
    color: grey;
}

.embedContainer {
    border-radius: 50px;
    width: auto;
}

.materials {
    margin-top: 0px;
}



.info-container-shop { 
    
    margin-bottom: 5vw;
    height: auto;
    border: 1px solid #000; 
    border-radius: 10px; 
    padding: 20px; 

    
   
}

.productContainer {
    margin-top: 12vh;
    padding: 20px; 

}

.backB span{
    position: absolute;
    background-color: #000;
    border-radius: 40px;
    width: 40px;
    left: 0px;
}

.backB span:nth-child(1){
    position: absolute;

    rotate: -120deg;
    top: 0px
}
.backB span:nth-child(2){
    position: absolute;

    rotate: -60deg;
    top: 0px
}



.backB{
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #000; 
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1%;
    width: 20%;
    margin-top: 4%;
    margin-bottom: 2%;
    height: 10px;
    cursor: pointer;
}

.backB:hover{
    background-color: #bfbfbf;
}


.quantitySelector {
    display: flex;
    justify-content: space-between;
    

    width: 100px;
    border: 1px solid #000;
    border-radius: 20px;
    margin-left: 15%;

}
.spinner-add {
        
    display: flex;
    position: absolute;
    left:  150px;
    top: 0px;
    


}

.quantitySelector p {
    padding-top: 20%;
}



.addToCart {

    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5%;
    margin-top: 12%;
    height: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    color: #000;        



}



.size-quantity{
    display: flex;
    
}
.selector-wrapper {
    justify-content: space-between;
    border-top: 1px solid #000;
}

.sizeSelector select{ 
    margin-top: 10%;
    padding: 20%;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;

    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.addToCart:hover {
    background-color: #bfbfbf;
    cursor: pointer;


}

.addToCart:disabled {
    opacity: 50%;
    cursor: not-allowed;

    


}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  

.confirmation-message p {

    animation: fadeIn 1s ease-in-out forwards; 


}


.quantitySelector button {
    
    background-color: #fff;
    border: none;
    cursor: pointer;
    color: #000;   

    
    
}


.quantitySelector button:hover {
    animation: fadeOut 1.5s ease;

    
    
}



@keyframes fadeOut {
    0% {
        background-color: #bfbfbf;

        
    }
    100% {
        background-color: #ffffff;

    }
}


.quantitySelector button:nth-child(3){
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid #000;
    padding-right: 10%;

}

.quantitySelector button:nth-child(1){
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid #000;
    padding-left: 10%;


}

.quantitySelector {     margin-top: 2%;
}


.image-container {
    display: inline-flex;
}

.info-text-container {
    width: 30vw;
    word-wrap: break-word;
    padding-left: 3%;
}

.price {
    font-size: 2.5rem;
}



.selector-wrapper{
    padding-top: 10%;
  }



  .button-message {
    position: relative;
  }

 

@media (max-width: 768px) {
    

    .backB span{
        position: absolute;
        background-color: #000;
        border-radius: 40px;
        width: 1px;
        height: 10px;
        left: 35px;
        margin-top: 2px;
    }
    
    .backB span:nth-child(1){
        position: absolute;
    
        rotate: -120deg;
        top: 5px;
        left: 13px
    }
    .backB span:nth-child(2){
        position: absolute;
        rotate: -60deg;
        top: 10px;
        left: 13px
    }

    .backB p {
        font-size: 14px;
        margin-top: 0%;
        margin-bottom: 0%;

    }

    .backB{
        background-color: #fff;
        border-radius: 20px;
        border: 1px solid #000; 
        display: flex;
        position: relative;
        color: #000;

        height: 30px;
        align-items: center;
        width: 140px;
        justify-content: center;

        cursor: pointer;

        padding: 0%;
    }
    
   
    .backbutton{
        width: 100%;
        align-items: center;

    }



    .spinner-add {
        
            display: flex;
            position: absolute;
            left:  140px;
            top: -3px;
            

     
    }
   
    .info-text-container {
        width: 75vw;
        word-wrap: break-word;
        padding-left: 3%;
    }

    .quantitySelector button:hover {
        animation: fadeOut 1.5s ease;
    
        
        
    }
    .quantitySelector p {
        padding-top: 0%;
    }



    .addToCart {

        background-color: #fff;
        border: 1px solid #000;
        border-radius: 20px;
        padding: 5%;
        margin-top: 12%;
        height: 50%;
        display: flex;
        justify-content: center;

        width: 100%;
    
    
    }
    
    .embedContainer {
        border-radius: 50px;
    }
    
    .image-container img {

        width: 80vw;
    }

    .image-container {
        display: grid;
    }
    
    .info-text-container {
        padding-left: 3%;
    }

    .materials {
        margin-top: 0px;
    }

    .text-header{
        margin-bottom: 0px;
    }

    .description {
        margin-top: 3rem;
    }

    .info-container {
        margin-top: 15vh;
    }

    .quantitySelector {
        display: flex;
        justify-content: space-between;
        
    
        width: 100px;
        border: 1px solid #000;
        border-radius: 20px;
        margin-left: 5%;
        margin-top: 6%;
        height: 3.2rem;

    }

    .sizeSelector select{ 
        margin-top: 10%;
        padding: 20%;
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 20px;
        width: 200px;
        height: 50px;
        color: #000;   
         
    

  }

  .selector-wrapper{
    padding-top: 10%;
  }
    .price{
        display: flex;
        justify-content: center;
    }

  .size-quantity{
    display: flex;
    justify-content: space-between;
    
}
}