.skeleton-loader {
    background: linear-gradient(90deg, #efefef 25%, #ddd 50%, #c6c6c6 75%, #efefef 100%);
    background-size: 200% 100%;
    opacity: 50%;
    animation: shimmer 0.3s infinite ;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 0% 0;
    }
  }
  